.item-title {
    font-size: 16px;
}
.divider-text {
    font-size: 16px;
}
.query-item, .hash-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .item-label {
        padding: 0 5px;
    }
    .value-input {
        flex: 1;
    }
}